nav{
  font-style: arial;
  font-size: 20px;
  padding: 20px;
  color: white;
  background-color: black;
}
.top{
  padding: 20px;
}
#frame{
  padding: 20px;
}
#firstline {
  padding: 20px;
  padding-bottom: 20px;
  /*padding-right: 20px;*/
  /*display:inline-block;*/
  /*width:100%;*/
}
.logo{
  float:left;
}
.socialmedia{
  float:right;
}
.sociallogo{

}
#photobanner{
  width:100%;
  /*position:center;*/
  /*position: relative;*/
  /*padding-bottom: 0px;*/
  /*margin-bottom: 0px;*/
  display: block;
}
#shadow{
  width: 100%;
  /*padding-top: 0px;*/
  /*margin-top: 0px;*/
}

#banner{
  /*display:inline-block;*/
  border: 8px;
  border-width: 1px;
  border-style: solid;
  border-color: gray;
  padding: 8px;
}
.banner-text {
  width: 70%;
  display:inline-block;
}
.banner-button{
  /*width: 29%;*/
  display:inline-block;
  float: right;
  vertical-align: middle;
}
#quote{
/*  float: right;*/
}
.boxes{
  display:inline-block;
  /*width: 40px;*/
  font-size: 12px;
  width: 33%;
}
.homebox{
  /*width: 20%;*/
  /*border-width: 2px;*/
  /*border-style: solid;*/
}
/*.boxtitle{
  font-size: 25px;
  font-style: bold;
  font: arial;
  padding: px;
  position: left;
}*/
h3{
  font-size: 25px;
  font-style: bold;
  font-size: arial;
  padding-bottom: 3px;
  padding-left: 8px;
  position: bottom; 
  margin-bottom: 10px;
}

h4{
  font-size: 25px;
  font-style: bold;
  /*font-style: underline; */
  font-size: arial;
  color: white;
  border: 2px;
  border-color: green;
  border-bottom: solid;
}
footer{
  background-color: black;
  color: gray;
  padding: 10px;
  font: arial; 
  margin-top: 20px;
  /*height: 200px;*/
  /*width: 100%;*/
}
.foot{
  /*min-height: 900px;*/
}
.blackbox {
  display: inline-block;
  width: 30%;
  padding: 10px;
  /*padding-top: 0;*/
  /*height: 25%;*/
  vertical-align: text-top;
  /*position: */
  /*border-bottom: solid;*/
  /*border-color: gray;*/
}
.within {
  display: block;
}
.blogroll{
  /*text-indent: 1px;*/
  /*padding-left: 3px;*/
  /*float: left;*/
}
/*.noline{*/
/*  border-bottom: solid;
  border:2px;
  border-color: gray; */
  /*float: left;*/
  /*font-style: underline;*/
  /*color: gray;*/
  /*text-decoration: none;*/
  /*margin: 0px;*/
/*}*/
.listblogroll{
  /*text-decoration: none;*/
  /*color: gray;*/
  list-style-type: none;
  color: gray;
  /*text-align: left;*/
  /*text-indent: none;*/
  list-style:none;
  padding-left:0;
}
.thin{
  /*margin: 0px;*/
  color: gray;
  text-decoration: none;
}
.foottitle{
  /*color: red;*/
}
#widget{
  color: gray;
  list-style: none;
  padding-left: 0;
}
#copyright{
  font-size: 14px;
  color: gray;
  /*position: relative;*/
  float: bottom;
}
#broughtyou{
  font-size: 14px;
  color: gray;
  float: bottom;
}